section.process-detail-1
	.container
		.row
			.col-12
				.title
					h2.h2.mb-4.mb-lg-5 Phương pháp dạy học
			.col-12
				.item
					button.btn.btn-outline-light.btn-more.active Phương pháp dạy học
					button.btn.btn-outline-light.btn-more Sáng chế dụng cụ
					button.btn.btn-outline-light.btn-more Nghiên cứu khoa học
		.row.images
			.col-md-6.col-lg-4
				a.item(href="#")
					figure
						img.img-fluid(src="./img/TTT/process/process-1.png", alt="")
						figcaption.box-content
							h3.h3 294 - Dạy và học với hình thức tư duy
							p Sáng kiến đã trình bày kết hợp hài hòa, nhịp nhàng các phần mềm và thiết bị để giải quyết từng vấn đề huấn luyện một cách khoa học.
			.col-md-6.col-lg-4
				a.item(href="#")
					figure
						img.img-fluid(src="./img/TTT/process/process-2.png", alt="")
						figcaption.box-content
							h3.h3 294 - Dạy và học với hình thức tư duy
							p Sáng kiến đã trình bày kết hợp hài hòa, nhịp nhàng các phần mềm và thiết bị để giải quyết từng vấn đề huấn luyện một cách khoa học.

			.col-md-6.col-lg-4
				a.item(href="#")
					figure
						img.img-fluid(src="./img/TTT/process/process-3.png", alt="")
						figcaption.box-content
							h3.h3 294 - Dạy và học với hình thức tư duy
							p Sáng kiến đã trình bày kết hợp hài hòa, nhịp nhàng các phần mềm và thiết bị để giải quyết từng vấn đề huấn luyện một cách khoa học.
			.col-md-6.col-lg-4
				a.item(href="#")
					figure
						img.img-fluid(src="./img/TTT/process/process-1.png", alt="")
						figcaption.box-content
							h3.h3 294 - Dạy và học với hình thức tư duy
							p Sáng kiến đã trình bày kết hợp hài hòa, nhịp nhàng các phần mềm và thiết bị để giải quyết từng vấn đề huấn luyện một cách khoa học.
			.col-md-6.col-lg-4
				a.item(href="#")
					figure
						img.img-fluid(src="./img/TTT/process/process-2.png", alt="")
						figcaption.box-content
							h3.h3 294 - Dạy và học với hình thức tư duy
							p Sáng kiến đã trình bày kết hợp hài hòa, nhịp nhàng các phần mềm và thiết bị để giải quyết từng vấn đề huấn luyện một cách khoa học.
			.col-md-6.col-lg-4
				a.item(href="#")
					figure
						img.img-fluid(src="./img/TTT/process/process-3.png", alt="")
						figcaption.box-content
							h3.h3 294 - Dạy và học với hình thức tư duy
							p Sáng kiến đã trình bày kết hợp hài hòa, nhịp nhàng các phần mềm và thiết bị để giải quyết từng vấn đề huấn luyện một cách khoa học.
		.row
			.col
				.item.d-flex.justify-content-center
					button.btn.btn-light.btn-number 1
					button.btn.btn-light.btn-number 2
					button.btn.btn-light.btn-number 3
					button.btn.btn-light.btn-number 4
