section.contest-box-2
	.container
		.row
			.col-12
				h4.h4 2. Tiêu chí đánh giá, xét chọn trao giải thưởng
				.row.no-gutters.d-flex
					.col-lg-6
						.item.box-content
							h5.h5 Tính mới
							ul
								li Công trình, sáng kiến (phương pháp giảng dạy, học tập, nghiên cứu;  tác phẩm khoa học) chưa từng được công bố bởi tác giả khác.
								li Các sáng chế công cụ phải có tính mới, trình độ sáng tạo, chưa từng được tác giả khác nộp đơn đăng ký bảo hộ sáng chế  đối với sáng chế mới; giải pháp kỹ thuật trong sáng chế của tác giả phải khắc phục các hạn chế, thiếu sót của giải pháp gần giống nhất.
					.col-lg-6.mb-5.mb-lg-0
						.item
							img.w-100(src="./img/TTT/contest/c-box-2-1.png", alt="")
					.col-lg-6.order-4.order-lg-3
						.item
							img.w-100(src="./img/TTT/contest/c-box-2-2.png", alt="")
					.col-lg-6.order-3.order-lg-4
						.item.box-content
							h5.h5 Tính khả thi
							ul
								li Công trình, sáng kiến (phương pháp giảng dạy, học tập, nghiên cứu;  tác phẩm khoa học) chưa từng được công bố bởi tác giả khác.
								li Các sáng chế công cụ phải có tính mới, trình độ sáng tạo, chưa từng được tác giả khác nộp đơn đăng ký bảo hộ sáng chế  đối với sáng chế mới; giải pháp kỹ thuật trong sáng chế của tác giả phải khắc phục các hạn chế, thiếu sót của giải pháp gần giống nhất.
