section.canhcam-slider-1
	article.owl-carousel.owl-theme.list-items
		.item(bg-img-responsive="./img/TTT/slider/home-s-1.png", bg-img-responsive-sm="./img/TTT/slider/home-s-1.png", bg-img-responsive-xs="./img/TTT/slider/home-s-1.png")
			.title
				h1.h1 Tri thức trẻ vì giáo dục
				p Chương trình thực tế nâng tầm sáng tạo và đổi mới phương pháp giáo dục và đào tạo hiện đại.
		.item(bg-img="./img/TTT/slider/home-s-2.png")
			.title
				h1.h1 Tri thức trẻ vì giáo dục
				p Chương trình thực tế nâng tầm sáng tạo và đổi mới phương pháp giáo dục và đào tạo hiện đại.
