section.contact-box-1
	.container
		.row
			.col-12
				.title.mb-4
					h2.h2.mb-4 Liên hệ
					p Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho Tri Thức Trẻ, chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
		.row
			.col-lg-4
				.box-content.mb-4.mb-lg-0
					h3.h3 tri thức trẻ
					h4.h4 Ban Thanh niên Trường học, Trung ương Đoàn TNCS Hồ Chí Minh
					p Địa chỉ: Số 64 Bà Triệu, Quận Hoàn Kiếm, TP. Hà Nội.
					p Điện thoại: 024 6263 1852
					p Email: trithuctrevigiaoduc@gmail.com
					h4.h4 Ban Thanh niên, Báo Tuổi Trẻ
					p Địa chỉ: Số 60A, Hoàng Văn Thụ, Phường.9, Quận Phú Nhuận, Thành phố Hồ Chí Minh.
					p Điện thoại: 028 3997 3838
					p Email: trithuctrevigiaoduc@gmail.com
			.col-lg-8
				form.form-wrap
					.row
						.col-md-6.mb-4
							input(type="text" placeholder="Họ và tên...").form-control
						.col-md-6.mb-4
							input(type="text" placeholder="Email...").form-control
						.col-md-6.mb-4
							input(type="text" placeholder="Tiêu đề...").form-control
						.col-md-6.mb-4
							input(type="text" placeholder="Số điện thoại...").form-control
						.col-12.mb-4
							textarea.form-control(rows="9" placeholder="Nội dung...")
						.col-12
							.row.form-bottom
								.col-md-4.pr-lg-1.mb-4.mb-lg-0
									.box-capcha
										img(src="./img/TTT/contact/capcha.png", alt="")
										img.pl-3.pl-lg-0.pl-xl-4(src="./img/TTT/contact/redo-alt.png", alt="")
								.col-md-5.mb-4.mb-lg-0
									input(type="text").form-control
								.col-md-3
									button.btn.btn-light.btn-more Gửi
		.row.mt-5
			.col-12
				.map
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.185072804998!2d106.7024735148367!3d10.797133061763448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b6d8f34625%3A0x12958ff51a1deac9!2zMTE0IE5ndXnhu4VuIEPhu611IFbDom4sIFBoxrDhu51uZyAxNywgQsOsbmggVGjhuqFuaCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1538967366227" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)
