section.contest-box-1
	.container
		.row
			.col-12
				.title
					h2.h2 Thể lệ cuộc thi
		.row
			.col-12
				.title
					h3.h3 I. Đối tượng, cách thức tham gia, thời gian tổ chức
			.col-12
				h4.h4 1. Đối tượng tham gia
				.row
					.col-6.item
						figure
							img.img-fluid(src="./img/TTT/contest/c-icon-1.png")
							figcaption
								p Cá nhân
					.col-6.item
						figure
							img.img-fluid(src="./img/TTT/contest/c-icon-2.png")
							figcaption
								p Nhóm 05 người
					.col-12.item
						.warning
							i.fas.fa-exclamation-triangle.mr-2
							span Lưu ý :
								p công dân có quốc tịch Việt Nam đang sinh sống trong hoặc ngoài lãnh thổ Việt Nam, không quá 35 tuổi (tính đến thời điểm xét trao giải thưởng).
				h4.h4 2. Cách thức tham gia
				p Tác giả gửi bộ hồ sơ dạng file (.docx, .doc, .pdf) tới địa chỉ email 
					a(href="#") trithuctrevigiaoduc@gmail.com
					|, gồm các tài liệu bắt buộc:
				ul
					li Bản đăng ký theo mẫu của chương trình (kèm theo Thông báo này).
					li Bản tóm tắt về công trình, sáng kiến (không quá một trang giấy A4).
					li Bản toàn văn và các phụ lục, hình ảnh, video clip minh họa, bản vẽ kỹ thuật kèm theo (nếu có).
					li 01 ảnh chân dung bán thân.
				h4.h4 3. Thời gian tổ chức chương trình
				ul
					li Lễ Khởi động Chương trình năm 2018: Ngày 04/4/2018 tại Trung ương Đoàn TNCS Hồ Chí Minh.
					li Kết thúc nhận hồ sơ: 17h00 ngày 30/9/2018.
					li Thời gian bình chọn trên website http://www.trithuctre.doanthanhnien.vn:  từ ngày 05 – 10/10/2018.
					li Chấm sơ khảo và công bố các công trình, sáng kiến lọt vào chung khảo: trước ngày 12/10/2018.
					li Chấm chung khảo và Lễ trao giải: dự kiến 03/11/2018.
		.row
			.col-12
				.title
					h3.h3.mt-4 II. Nội dung, tiêu chí đánh giá, giải thưởng
			.col-12
				h4.h4 1. Nội dung và yêu cầu về công trình, sáng kiến
				p Các công trình, sáng kiến tham gia chương trình thuộc 3 nhóm nội dung, cụ thể như sau:
				table.table
					thead
						tr
							th Nhóm 1
							th Nhóm 2
							th Nhóm 3
					tbody
						tr
							td Đổi mới phương pháp giảng dạy và học tập: Phạm vi nội dung công trình, sáng kiến có thể là từng môn học, bậc học, lứa tuổi hoặc nhiều môn học, bậc học, lứa tuổi; hoặc trong phương pháp giảng dạy; hoặc phương pháp học tập, tiếp thu kiến thức hiệu quả.
							td Đổi mới phương pháp giảng dạy và học tập: Phạm vi nội dung công trình, sáng kiến có thể là từng môn học, bậc học, lứa tuổi hoặc nhiều môn học, bậc học, lứa tuổi; hoặc trong phương pháp giảng dạy; hoặc phương pháp học tập, tiếp thu kiến thức hiệu quả.
							td Đổi mới phương pháp giảng dạy và học tập: Phạm vi nội dung công trình, sáng kiến có thể là từng môn học, bậc học, lứa tuổi hoặc nhiều môn học, bậc học, lứa tuổi; hoặc trong phương pháp giảng dạy; hoặc phương pháp học tập, tiếp thu kiến thức hiệu quả.



