section.canhcam-carousel-9
	.container
		.row
			.col
				.wrap
					.slide-2.slide.nav.text-center.d-none.d-lg-flex
						.item
							h4 2018
						.item
							h4 2017
						.item
							h4 2016
						.item
							h4 2015
					.slide-3.slide.content
						.item
							.text
								h2.d-lg-none 2018
								h3 THÀNH TỰU 2018
							.icon.d-flex.justify-content-center
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-1.png")
									figcaption
										p 329 bài dự thi
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-2.png")
									figcaption
										p Giáo viên, Giảng viên (56,3 %)
										p Học sinh, Sinh viên (17,33%)
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-3.png")
									figcaption
										p 284 Cá nhân (86,32%)
										p 45 Nhóm (13,68%)
							.row.gallery
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
						.item
							.text
								h2.d-lg-none 2017
								h3 THÀNH TỰU 2017
							.icon.d-flex.justify-content-center
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-1.png")
									figcaption
										p 329 bài dự thi
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-2.png")
									figcaption
										p Giáo viên, Giảng viên (56,3 %)
										p Học sinh, Sinh viên (17,33%)
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-3.png")
									figcaption
										p 284 Cá nhân (86,32%)
										p 45 Nhóm (13,68%)
							.row.gallery
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
						.item
							.text
								h2.d-lg-none 2016
								h3 THÀNH TỰU 2016
							.icon.d-flex.justify-content-center
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-1.png")
									figcaption
										p 329 bài dự thi
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-2.png")
									figcaption
										p Giáo viên, Giảng viên (56,3 %)
										p Học sinh, Sinh viên (17,33%)
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-3.png")
									figcaption
										p 284 Cá nhân (86,32%)
										p 45 Nhóm (13,68%)
							.row.gallery
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
						.item
							.text
								h2.d-lg-none 2015
								h3 THÀNH TỰU 2015
							.icon.d-flex.justify-content-center
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-1.png")
									figcaption
										p 329 bài dự thi
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-2.png")
									figcaption
										p Giáo viên, Giảng viên (56,3 %)
										p Học sinh, Sinh viên (17,33%)
								figure
									img.img-fluid.mb-3(src="./img/TTT/last-year/s-1-icon-3.png")
									figcaption
										p 284 Cá nhân (86,32%)
										p 45 Nhóm (13,68%)
							.row.gallery
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.col-md-4
									figure
										img.box-img.w-100.mb-3(src="./img/TTT/last-year/s-1-img-1.png")
									figcaption
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
