section.home-box-1(bg-img="./img/TTT/home/home-box-1-bg.png")
	.container
		.row.d-flex.justify-content-center.nav
			.col-11.col-md-4
				.item
					figure
						img.img-fluid(src="./img/TTT/home/home-box-1-icon-1.png", alt="")
						figcaption.box-content
							h3.h3 Phương pháp dạy học
			.col-11.col-md-4
				.item
					figure
						img.img-fluid(src="./img/TTT/home/home-box-1-icon-2.png", alt="")
						figcaption.box-content
							h3.h3 Sáng chế dụng cụ
			.col-11.col-md-4
				.item
					figure
						img.img-fluid(src="./img/TTT/home/home-box-1-icon-3.png", alt="")
						figcaption.box-content
							h3.h3 Nghiên cứu khoa học
		.row.box
			.col-lg-5.item
				img.img-fluid(src="./img/TTT/home/home-box-1-1.png", alt="")
			.col-lg-7.item
				h2.h2 Giới thiệu chương trình
				.content
					p Tri thức trẻ vì giáo dục được xây dựng tổ chức nhằm đem đến một môi trường để mọi thanh niên, tri thức trẻ chia sẻ những ý tưởng, những đóng góp to lớn cho sự nghiệp giáo dục Việt Nam. Chương trình được tổ chức từ năm 2016 và đã thu hút, khuyến khích và cổ vũ hằng trăm bạn trẻ từ khắp nơi trên cả nước tham gia. Với hàng trăm ý tưởng được hình thành và tạo dấu ấn khó quên qua 2 năm vừa qua, năm 2018 đón chờ những ý tượng đột phá hơn cho nền giáo dục.
				.intro
					figure
						img.img-fluid(src="./img/TTT/home/home-icon-exam.png", alt="")
						figcaption.box-content.ml-lg-3
							p Thể lệ cuộc thi
					figure.ml-lg-5
						img.img-fluid(src="./img/TTT/home/home-icon-quality.png", alt="")
						figcaption.box-content.ml-lg-3
							p Cơ cấu giải thưởng
				button.btn.btn-outline-light.btn-more Xem thêm
					span.ml-5.lnr.lnr-arrow-right

