section.home-box-3(bg-img="./img/TTT/home/home-box-3-bg.png")
	.container
		.row
			.col-12
				.title
					h2.h2.mb-4 Tin tức
		.row.no-gutters
			.col-lg-5.item(bg-img="./img/TTT/home/home-box-3-1.png")
				img.w-100(src="./img/TTT/home/home-box-3-1.png")
			.col-lg-4.item.d-flex
				h3.h3 Tự chế tạo đồ thí nghiệm, thấy giáo vật lý giành giải 100 triệu đồng
				.box-content
					p Trăn trở trước tình trạng học chay của học sinh, thầy Nguyễn Trường Vũ (trường quốc tế Phượng Hoàng, Thừa Thiên Huế) đã mày mò sáng chế dụng cụ thí nghiệm từ những thứ bỏ đi.
				button.btn.btn-outline-light.btn-more Xem thêm
					span.ml-4.lnr.lnr-arrow-right
			.col-lg-3.item.d-flex
				h3.h3 Nhóm nhà khoa học trẻ lập “phòng thí nghiệm ảo” cho hàng triệu học sinh
				.box-content
					p Không cần phòng thí nghiệm, hóa chất hay dụng cụ, các bạn học sinh chỉ cần một máy tính kết nối internet đã có thể tự tay...
				button.btn.btn-outline-light.btn-more Xem thêm
					span.ml-4.lnr.lnr-arrow-right
			.col-lg-6.item(bg-img="./img/TTT/home/home-box-3-2.png")
				p Hiện thực hoá ý tưởng hay cho giáo dục: cần nguồn lực xã hội
			.col-lg.item.d-flex
				h3.h3 Vòng chung khảo “Tri thức trẻ vì giáo dục” mở cửa với báo chí
				.box-content
					p Mười công trình, sáng kiến tiêu biểu nhất trong chương trình "Tri thức trẻ vì giáo dục" năm 2017 bước vào vòng thi chung khảo.
				button.btn.btn-outline-light.btn-more Xem thêm
					span.ml-3.lnr.lnr-arrow-right
			.col-lg-3.item(bg-img="./img/TTT/home/home-box-3-3.png")
