header.canhcam-header-1
	nav.navbar.navbar-expand-md.container
		a.navbar-brand.d-none.d-md-block(href='#')
			img(src="./img/TTT/home/home-logo.png", alt="Logo")
		a.navbar-brand.d-md-none.mr-auto(href='#')
			img(src="./img/TTT/home/home-logo-no-bg.png", alt="Logo")
		button.navbar-toggler(type='button', data-toggle='offcanvas', data-target='#CCMenuHeader', aria-controls='CCMenuHeader', aria-expanded='false', aria-label='Toggle navigation')
			span.mdi.mdi-menu

		#CCMenuHeader.collapse.navbar-collapse.justify-content-end
			.title
				img(src="./img/TTT/home/home-logo-no-bg.png", alt="")
				.closebnt
					i.mdi.mdi-close
			ul.navbar-nav.mt-md-0
				li.nav-item.active
					a.nav-link(href='#') Giới thiệu
				li.nav-item
					a.nav-link(href='#') Công trình dự thi
				li.nav-item
					a.nav-link(href='#') Tin tức sự kiện
				li.nav-item
					a.nav-link(href='#') Câu hỏi thường gặp
				li.nav-item
					a.nav-link(href='#') Thư viện
				li.nav-item
					a.nav-link(href='#') Liên hệ
				li.nav-item
					a.nav-link(href='#') Năm trước
