extends _layout/layout.pug
block variables
	- var title = "news-detail"
	- var description = "Description for news-detail page"
	- var bodyclass = "news-detail"
	- var href = "/news-detail.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/news-detail/n-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
