section.news-detail-1
	.container 
		.row.mb-2
			.col-md-8.col-lg-9 
				h2.h2 Nhóm nhà khoa học trẻ lập “phòng thí nghiệm ảo” cho hàng triệu học sinh
				time 01/06/18 10:27 GMT+7
				h3.h3 Phòng thí nghiệm trực quan, tương tác trên mạng
				p.lead Vượt qua hơn 300 công trình khác, công trình “Nền tảng phát triển giáo dục Open Classroom” đã xuất sắc trở thành 1 trong 3 công trình đạt giải cao nhất giải thưởng “Tri thức trẻ vì Giáo dục” năm 2017 do TƯ Đoàn TNCS Hồ Chí Minh phối hợp với Bộ GD&ĐT tổ chức. Công trình này do nhóm tác giả Nguyễn Hữu Hải và Phạm Thành Nam (Viện Hàn lâm khoa học và công nghệ Việt Nam) đồng sáng lập. Nhóm tác giả trẻ cũng chiến thắng giải thưởng Ấn tượng và nhận phần thưởng tiền mặt 100 triệu đồng.
				p.lead Open Classroom được hội đồng giám khảo là các chuyên gia từ Bộ GD&ĐT, Bộ KH&CN đánh giá cao về tính sáng tạo, công phu, khả năng ứng dụng rộng rãi phục vụ giảng dạy, học tập.
				figure
					img.mt-3.mb-2.img-fluid(src="./img/TTT/news-detail/n-detail-1.png")
					figcaption
				p.lead Học sinh có thể sử dụng Open Classroom trên nhiều thiết bị khác nhau, trên tất cả các hệ điều hành và trình duyệt phổ biến. Open Classroom cũng hỗ trợ đa ngôn ngữ, bao gồm tiếng Việt, ba ngôn ngữ chính thức của Liên hợp quốc (tiếng Anh, tiếng Pháp, tiếng Tây Ban Nha) và hỗ trợ các ngôn ngữ viết.
				p.lead Để đạt thành quả hôm nay, nhóm nghiên cứu đã “ăn, ngủ” cùng sản phẩm và cùng vượt nhiều khó khăn. Có thể kể đến là quá trình khảo sát, nắm bắt nhu cầu thực tế/ thực trạng của giáo dục, đặc biệt là giáo dục phổ thông Việt Nam, nghiên cứu mô hình tiên tiến thế giới, các công nghệ mới nhất…
				p.lead Anh Nguyễn Hữu Hải nhấn mạnh, môi trường thực hành rất quan trọng để học sinh phát triển kỹ năng, tuy nhiên thực tế ở không ít các trường học hiện nay, nhà trường và giáo viên chưa cung cấp đủ môi trường cho học sinh thực hành, thí nghiệm. Do đó, công trình của nhóm hướng đến việc cung cấp nền tảng hỗ trợ giáo dục truyền thống. Bắt đầu nghiên cứu cách đây gần 2 năm, đến nay nhóm đã gây dựng khối lượng dữ liệu khổng lồ gồm hàng nghìn bài học, hàng nghìn thí nghiệm đa dạng phong phú đáp ứng yêu cầu cho hàng triệu học sinh, giáo viên.
				figure
					img.mt-3.mb-2.img-fluid(src="./img/TTT/news-detail/n-detail-2.png")
					figcaption
				p.lead Niềm hạnh phúc của nhóm tác giả trẻ không chỉ là giải thưởng mà còn là phản hồi rất tích cực từ phía học sinh, giáo viên, nhà quản lý, chuyên gia giáo dục và các phụ huynh.
				p.lead Ra mắt công trình từ tháng 10/10/2017, nhóm dự định tiếp tục cung cấp nền tảng giáo dục miễn phí, tiếp nhận phản hồi và phát triển thêm nhiều tính năng mới cho sản phẩm. Nhóm hi vọng nhận được sự hỗ trợ của Bộ GD&ĐT, các ban ngành liên quan, các tổ chức, cá nhân để có thể triển khai sâu rộng công trình phục vụ cho ngành giáo dục, đặc biệt là hơn 22 triệu học sinh Việt Nam.
			.col-md-4.col-lg-3
				h4.h4 Tin tức khác
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/news-detail/n-detail-3.png", alt="")
						.col-6.item.align-self-start.pt-4
							h5.h5 Vòng chung khảo “Tri thức trẻ vì giáo dục” mở cửa với báo chí
				hr 
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/news-detail/n-detail-3.png", alt="")
						.col-6.item.align-self-start.pt-4
							h5.h5 Tự chế tạo đồ thí nghiệm, thầy giáo vật lý giành giải 100 triệu đồng

				hr 
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/news-detail/n-detail-3.png", alt="")
						.col-6.item.align-self-start.pt-4
							h5.h5 Vòng chung khảo “Tri thức trẻ vì giáo dục” mở cửa với báo chí
				hr 
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/news-detail/n-detail-3.png", alt="")
						.col-6.item.align-self-start.pt-4
							h5.h5 Vòng chung khảo “Tri thức trẻ vì giáo dục” mở cửa với báo chí
				hr
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/news-detail/n-detail-3.png", alt="")
						.col-6.item.align-self-start.pt-4
							h5.h5 Tự chế tạo đồ thí nghiệm, thầy giáo vật lý giành giải 100 triệu đồng
				hr
