section.canhcam-carousel-3(bg-img="./img/TTT/home/home-box-5-bg.png")
	.container
		.row
			.col-lg-4.d-flex.justify-content-center.align-items-center
				.title
					h2.h2.mb-4.mb-lg-0 đơn vị tổ chức
			.col-lg-8
				.owl-carousel
					a.item(href="#")
						img.img-fluid(src="./img/TTT/home/home-c-1.png", alt="alt")
					a.item(href="#")
						img.img-fluid(src="./img/TTT/home/home-c-2.png", alt="alt")
					a.item(href="#")
						img.img-fluid(src="./img/TTT/home/home-c-3.png", alt="alt")
					a.item(href="#")
						img.img-fluid(src="./img/TTT/home/home-c-4.png", alt="alt")
					a.item(href="#")
						img.img-fluid(src="./img/TTT/home/home-c-5.png", alt="alt")
					a.item(href="#")
						img.img-fluid(src="./img/TTT/home/home-c-1.png", alt="alt")
