section.process-detail-2
	.container 
		.row.mb-2
			.col-md-8.col-lg-9 
				h2.h2 027 Sáng tác tác phẩm “Dế Mèn lục bát phiêu lưu” nhằm đổi mới phương pháp tiếp cận “Dế Mèn phiêu lưu ký” ở trường phổ thông
				time 01/06/18 10:27 GMT+7
				p.lead Ngày 27/2/2018, 027 Sáng tác tác phẩm “Dế Mèn lục bát phiêu lưu” nhằm đổi mới phương pháp tiếp cận “Dế Mèn phiêu lưu ký” ở trường phổ thông
				p.lead Tôi cũng tham khảo cách dạy – học, cách thức tiếp cận tác phẩm của thày cô giáo và các em học sinh hiện nay đối với tác phẩm “Dế Mèn phiêu lưu ký”. Cách các thày cô truyền đạt kiến thức cho học sinh khi dạy về Tô Hoài
				figure
					img.mt-3.mb-2.img-fluid(src="./img/TTT/process/process-detail-2/p-1.png")
					figcaption
						i Tập truyện dế mèn phiêu lưu kí
				h3.h3 Mô tả giải pháp kĩ thuật đã biết:
				p.lead Từ trước đến nay ở trường phổ thông, tác phẩm Dế Mèn phiêu lưu ký vốn được coi là tác phẩm kinh điển viết cho thiếu nhi của cố nhà văn Tô Hoài. Cách học Văn truyền thống vẫn là tìm hiểu về tác giả và đọc hiểu tác phẩm nhất là các tác phẩm viết bằng văn xuôi. Đây là một kiểu tiếp cận đã trở thành truyền thống tất yếu đối với đặc trưng của văn học và cách thức dạy – học Văn phổ thông. Các thầy cô giáo thường ít khi đề cập đến những biến thể của tác phẩm gốc, các em học sinh thì quá quen thuộc với vấn đề thể loại, hình thức, ít khi dám mạnh dạn có cách thức tiếp cận tác phẩm theo hướng riêng của mình, nhất là lại với những tác phẩm lớn mang tính thời đại và tinh thần nhân loại như Dế Mèn phiêu lưu ký.
				h3.h3 Mô tả giải pháp dự thi: 
				p.lead Lý do chọn giải pháp: Bởi vậy, nhằm mục đích gây hứng thú cho người học thì việc đổi mới phương pháp dạy học Ngữ văn truyền thống là hết sức cần thiết. Và việc sử dụng thơ ca nói chung, thơ Lục bát nói riêng trong dạy học Ngữ văn, theo tôi là một trong những giải pháp sáng tạo hiệu quả để khắc phục những nhược điểm của phương pháp dạy học truyền thống.
				p.lead Chính vì thế, mặc dù là giáo viên lịch sử nhưng bằng niềm đam mê văn học nói chung và văn học Việt Nam nói riêng, tôi đã mạnh dạn chuyển thể tác phẩm Dế Mèn phiêu lưu ký của cố nhà văn Tô Hoài sang thể thơ lục bát dễ đọc dễ học dễ nhớ dài 4.067 câu thơ lục bát và đặt tên là Dế Mèn lục bát phiêu lưu.
				h3.h3 Tính mới, tính sáng tạo
				p.lead Công trình sáng kiến chưa từng được công bố bởi cá nhân, tổ chức nào khác. Trước đó đã từng có tác giả cố gắng chuyển thể Dế Mèn phiêu lưu ký sang thể thơ khác nhưng không thành công vì nhiều lý do khác nhau. Do vậy tác phẩm này đảm bảo được tính mới mẻ, sáng tạo.
				p.lead Mặt khác, việc áp dụng thơ Lục bát vào việc dạy – học Ngữ văn phần văn xuôi gần như còn rất mới mẻ, chưa được áp dụng phổ biến đối với đội ngũ giáo viên trong các giờ học trên lớp. Đó chính là tính mới dễ nhận thấy từ giải pháp trên.
				figure
					img.mt-3.mb-2.img-fluid(src="./img/TTT/process/process-detail-2/p-2.png")
					figcaption
						i Sáng tác tác phẩm “Dế Mèn lục bát phiêu lưu” nhằm đổi mới phương pháp tiếp cận “Dế Mèn phiêu lưu ký” ở trường phổ thông
				p.lead Tính sáng tạo của giải pháp được thể hiện đặc biệt bởi tác phẩm trên không chỉ là tác phẩm văn học nghệ thuật thuần túy mà còn là phương tiện mang tính chất khoa học có thể dùng áp dụng vào phương pháp (kĩ thuật) dạy – học Văn học nhằm đổi mới và nâng cao chất lượng bộ môn. 
				p.lead -  Khả năng áp dụng rộng rãi (tính khả thi)
				p.lead Công trình sáng kiến này có khả năng áp dụng cao trong việc đổi mới phương pháp dạy - học Ngữ văn ở các trường phổ thông trên toàn quốc. Tác phẩm có dung lượng và độ dày vừa phải do đó về việc xuất bản in ấn có thể tiến hành dễ dàng, khả thi, hiệu quả kinh tế cao.
				p.lead Đối với các đồng nghiệp, tác phẩm ra đời đóng góp thêm một tài liệu tham khảo và ứng dụng cao trong việc đổi mới phương pháp dạy – học Ngữ văn. Các thầy cô giáo có thể dễ dàng sử dụng, trích dẫn các câu thơ lục bát trong tác phẩm nhằm gây ấn tượng và thu hút hơn sự chú ý các em học sinh trong các giờ học trên lớp. Qua đó nội dung bài học được khắc sâu , dễ thuộc, dễ nhớ, dễ hiểu hơn.
				p.lead Đối với các em học sinh, tác phẩm có tác dụng thiết thực trong các giờ học trên lớp cũng như nghiên cứu học tập Dế Mèn phiêu lưu ký ở nhà.
				h3.h3 Hiệu quả kinh tế
				p.lead Việc trang bị cho các giáo viên và học sinh trên mọi miền Tổ quốc tài liệu “Dế Mèn lục bát phiêu lưu” là việc dễ dàng và hoàn toàn khả quan, mang tính khả thi cao về giải pháp kinh tế thực tiễn.
				p.lead Hiệu quả xã hội của giải pháp từ những phân tích nêu trên là thực tiễn minh chứng thêm cho giá trị của giải pháp.
				p.lead.mt-4 Thông tin chi tiết
				a.link(href="#")
					i http://trithuctre.doanthanhnien.vn/sang-tac-tac-pham-de-men-luc-bat-phieu-luu-nham-doi-moi-phuong-phap-tiep-can-de-men-phieu-luu-ky-o-t.htm
				hr 
				//- p Fugit, officia dignissimos corrupti repudiandae tempora pariatur expedita eligendi consectetur. Ipsam officiis sint qui fugiat a nesciunt, fugit eius possimus libero at.

				//- h5.h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				//- p Fugit, officia dignissimos corrupti repudiandae tempora pariatur expedita eligendi consectetur. Ipsam officiis sint qui fugiat a nesciunt, fugit eius possimus libero at.
				//- p 
				//- 	a.btn(href="#", title="title").download.btn-lg
				//- 		i.fa.fa-download
				//- 		| Tải về 
			.col-md-4.col-lg-3
				h4.h4 Tin tức khác
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/process/process-detail-2/news-more-1.png", alt="")
						.col-6.item
							p 025 Sáng tác tác phẩm “Yên Bái ghi dấu sử thiên” nhằm đổi mới phương pháp dạy
				hr 
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/process/process-detail-2/news-more-1.png", alt="")
						.col-6.item
							p 026 Sáng tác tác phẩm “Ngang trời mây đỏ thiên thơ” nhằm đổi mới phương pháp dạy 

				hr 
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/process/process-detail-2/news-more-1.png", alt="")
						.col-6.item
							p 025 Sáng tác tác phẩm “Yên Bái ghi dấu sử thiên” nhằm đổi mới phương pháp dạy
				hr 
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/process/process-detail-2/news-more-1.png", alt="")
						.col-6.item
							p 025 Sáng tác tác phẩm “Yên Bái ghi dấu sử thiên” nhằm đổi mới phương pháp dạy
				hr
				.row
					a.link(href="#")
						.col-6.item
							img.w-100(src="./img/TTT/process/process-detail-2/news-more-1.png", alt="")
						.col-6.item
							p 025 Sáng tác tác phẩm “Yên Bái ghi dấu sử thiên” nhằm đổi mới phương pháp dạy
				hr
