section.home-box-4
	.container
		.row
			.col-12
				.title
					h2.h2.mb-4 Video Clips
		.row.project-hot
			.col-lg-8.top-project
				a.item(href="#")
					figure
						img.w-100(src="./img/TTT/home/home-box-4-1.png", alt="alt")
						figcaption
							i.fab.fa-youtube
			.col-md-12.col-lg-4.part-list
				.row
					.col
						a.item(href="#")
							figure
								img.img-fluid(src="./img/TTT/home/home-box-4-2.png", alt="alt")
								figcaption
									i.fab.fa-youtube
						a.item(href="#")
							figure
								img.img-fluid(src="./img/TTT/home/home-box-4-3.png", alt="alt")
								figcaption
									i.fab.fa-youtube
		.row
			.col-12
				.title
					h2.h2.mb-4 kết nối với chúng tôi
		.row.box-bottom
			.col-md-6.col-xl-4
				a.item(href="#")
					i.fab.fa-facebook-f
					.box-content
						p Công trình về sổ tay chống nạn buôn người nhận giải “Tri thức trẻ vì giáo dục”
						time Posted yesterday at 10:56 AM
			.col-md-6.col-xl-4
				a.item(href="#")
					i.fab.fa-facebook-f
					.box-content
						p Trao giải thưởng Tri thức trẻ vì giáo dục năm 2017
						time.test Posted yesterday at 10:56 AM
			.col-md-6.col-xl-4
				a.item(href="#")
					i.fab.fa-facebook-f
					.box-content
						p Công trình về sổ tay chống nạn buôn người nhận giải “Tri thức trẻ vì giáo dục”
						time Posted yesterday at 10:56 AM
			.col-md-6.col-xl-4
				a.item(href="#")
					i.fab.fa-facebook-f
					.box-content
						p Công trình về sổ tay chống nạn buôn người nhận giải “Tri thức trẻ vì giáo dục”
						time Posted yesterday at 10:56 AM
			.col-md-6.col-xl-4
				a.item(href="#")
					i.fab.fa-facebook-f
					.box-content
						p Công trình về sổ tay chống nạn buôn người nhận giải “Tri thức trẻ vì giáo dục”
						time Posted yesterday at 10:56 AM
			.col-md-6.col-xl-4
				a.item(href="#")
					i.fab.fa-facebook-f
					.box-content
						p Trao giải thưởng Tri thức trẻ vì giáo dục năm 2017
						time Posted yesterday at 10:56 AM
