section.news-box-1
	.container
		.row
			.col-12
				.item.mb-5
					button.btn.btn-outline-light.btn-more.active Tin tức
					button.btn.btn-outline-light.btn-more Sự kiện
		.row
			.col-xl-6
				a.link(href="#")
					.item
						figure
							img.w-100(src="./img/TTT/news/news-box-1-1.png", alt="", srcset="")
							figcaption
								h4.h4 Vòng chung khảo “Tri thức trẻ vì giáo dục” mở cửa với báo chí
								p Mười công trình, sáng kiến tiêu biểu nhất trong chương trình "Tri thức trẻ vì giáo dục" năm 2017 bước vào vòng thi chung khảo.
			.col-xl-6
				.row
					.col-12
						a.link(href="#")
							.row.no-gutters
								.col-md-5.item
										img.w-100(src="./img/TTT/news/news-box-1-2.png", alt="", srcset="")
								.col-md-7.item
										.box-content
											h4.h4 Tự chế tạo đồ thí nghiệm, thầy giáo vật lý giành giải 100 triệu đồng
											p Trăn trở trước tình trạng học chay của học sinh, thầy Nguyễn Trường Vũ (trường quốc tế Phượng Hoàng, Thừa Thiên Huế) đã mày mò sáng chế dụng cụ thí nghiệm từ những thứ bỏ đi.
											button.btn.btn-outline-light.btn-more Xem thêm
												span.ml-1.lnr.lnr-arrow-right
					.col-12
						a.link(href="#")
							.row.no-gutters
								.col-md-5.item
										img.w-100(src="./img/TTT/news/news-box-1-2.png", alt="", srcset="")
								.col-md-7.item
										.box-content
											h4.h4 Nhóm nhà khoa học trẻ lập “phòng thí nghiệm ảo” cho hàng triệu học sinh
											p Không cần phòng thí nghiệm, hóa chất hay dụng cụ, các bạn học sinh chỉ cần một máy tính kết nối internet đã có thể tự tay...
											button.btn.btn-outline-light.btn-more Xem thêm
												span.ml-1.lnr.lnr-arrow-right
					.col-12
						a.link(href="#")
							.row.no-gutters
								.col-md-5.item
										img.w-100(src="./img/TTT/news/news-box-1-2.png", alt="", srcset="")
								.col-md-7.item
										.box-content
											h4.h4 Vòng chung khảo “Tri thức trẻ vì giáo dục” mở cửa với báo chí
											p Mười công trình, sáng kiến tiêu biểu nhất trong chương trình "Tri thức trẻ vì giáo dục" năm 2017 bước vào vòng thi chung khảo.
											button.btn.btn-outline-light.btn-more Xem thêm
												span.ml-1.lnr.lnr-arrow-right
		.row
			.col-md-4
				a.link(href="#")
					.item
						figure
							img.w-100(src="./img/TTT/news/news-box-1-5.png", alt="", srcset="")
							figcaption
								h4.h4 Vòng chung khảo “Tri thức trẻ vì giáo dục” mở cửa với báo chí
			.col-md-4
				a.link(href="#")
					.item
						figure
							img.w-100(src="./img/TTT/news/news-box-1-6.png", alt="", srcset="")
							figcaption
								h4.h4 Nhóm nhà khoa học trẻ lập “phòng thí nghiệm ảo” cho hàng triệu học sinh
			.col-md-4
				a.link(href="#")
					.item
						figure
							img.w-100(src="./img/TTT/news/news-box-1-7.png", alt="", srcset="")
							figcaption
								h4.h4 Vòng chung khảo “Tri thức trẻ vì giáo dục” mở cửa với báo chí
		.row
			.col
				.item.d-flex.justify-content-center
					button.btn.btn-light.btn-number 1
					button.btn.btn-light.btn-number 2
					button.btn.btn-light.btn-number 3
