section.process-box-1
	.container
		.row
			.col-12
				.title
					h2.h2.mb-4.mb-lg-5 Công trình dự thi
		.row
			.col-md-6.col-lg-4
				a.item(href="#")
					figure
						img.img-fluid(src="./img/TTT/process/process-1.png", alt="")
						figcaption.box-content
							h3.h3 pHƯƠNG PHÁP DẠY HỌC
			.col-md-6.col-lg-4
				a.item(href="#")
					figure
						img.img-fluid(src="./img/TTT/process/process-2.png", alt="")
						figcaption.box-content
							h3.h3 Sáng Chế dụng cụ
			.col-md-6.col-lg-4
				a.item(href="#")
					figure
						img.img-fluid(src="./img/TTT/process/process-3.png", alt="")
						figcaption.box-content
							h3.h3 Nghiên cứu khoa học
