section.home-box-2
	.container
		.row
			.col-12
				.title
					h2.h2.mb-4 Danh sách công trình tiêu biểu
			.col-12
				.item
					button.btn.btn-outline-light.btn-more.active Phương pháp dạy học
					button.btn.btn-outline-light.btn-more Sáng chế dụng cụ
					button.btn.btn-outline-light.btn-more Nghiên cứu khoa học
		.row.images
			.col
				.row
					.col-md-5.mb-4.mb-md-0(bg-img="./img/TTT/home/home-box-2-1.png")
						a.item(href="#")
							figure
								figcaption.box-content
									p 294 - Dạy và học với hình thức tư duy
					.col-md-7.mb-4.mb-md-0(bg-img="./img/TTT/home/home-box-2-2.png")
						a.item(href="#")
							figure
								figcaption.box-content
									p 263 - Tổ chức trò chơi vận động nhằm nâng cao chất lượng giảng dạy môn thể dục cấp tiểu học
					.col-md-4.mb-4.mb-md-0(bg-img="./img/TTT/home/home-box-2-3.png")
						a.item(href="#")
							figure
								figcaption.box-content
									p 277 - Bài giảng E-learning truy vấn dữ liệu, Tin học 12
					.col-md-4.mb-4.mb-md-0(bg-img="./img/TTT/home/home-box-2-4.png")
						a.item(href="#")
							figure
								figcaption.box-content
									p 271 - Một số biện pháp chỉ đạo giáo dục kỹ năng sống cho trẻ ở trường mầm non
					.col-md-4(bg-img="./img/TTT/home/home-box-2-3.png")
						a.item(href="#")
							figure
								figcaption.box-content
									p 305 - Mô hình giáo dục giá trị sống, kỹ năng sống
				
